.Contact-line{
    width: 7rem;
    height: .25rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #f0f0f0;
    margin-top: 30px;
}